/ Main hero unit for a primary marketing message or call to action
.hero-unit
  %h1 こんにちは、世界!
  %p
    これは単純なマーケティングや情報提供ウェブサイトのテンプレートです。主人公ユニットとコンテンツの3つの支持片と呼ばれる吹き出し大が含まれています。もっとユニークなものを作成するための出発点としてそれを使用します。
  %p
    %a.btn.btn-primary.btn-large もっとくわしく »
/ Example row of columns
.row
  .span4
    %h2 見出し
    %p このページは私の子ではありませんが、それはゲートのアラームを必要とするまで。多くの蛋白質、地域や産業の利点、その他その他その他その他、コミュニティの主要マスくらい。我々は常に助言ソフト投資を運ぶ。隊DUIまで。
    %p
      %a.btn{:href => "#"} 詳細を見る »
  .span4
    %h2 見出し
    %p このページは私の子ではありませんが、それはゲートのアラームを必要とするまで。多くの蛋白質、地域や産業の利点、その他その他その他その他、コミュニティの主要マスくらい。我々は常に助言ソフト投資を運ぶ。隊DUIまで。
    %p
      %a.btn{:href => "#"} 詳細を見る »
  .span4
    %h2 見出し
    %p このページは私の子ではありませんが、それはゲートのアラームを必要とするまで。多くの蛋白質、地域や産業の利点、その他その他その他その他、コミュニティの主要マスくらい。我々は常に助言ソフト投資を運ぶ。隊DUIまで。
    %p
      %a.btn{:href => "#"} 詳細を見る »